<h1>Vee/Ess</h1>
<script type="text/javascript">
var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update });

function preload() {
    game.load.spritesheet('thor', '/assets/images/Thor.png', 32, 32);
}

var ship1;
function create() {
    ship1 = game.add.sprite(200, 200, 'thor', 1);
    ship1.animations.add('default', [0,1,2,3], 8, true);
    ship1.animations.play('default');
}

function update() {
}
</script>