<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vee/Ess</title>
    <script type="text/javascript" src="/assets/javascripts/phaser.min.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>